body .bg-light {
    background-color: #bfd9ec!important;
}

body .signup-bttn{
    border-radius: 20px;
}

body .nav-links {
    text-decoration: none!important;
    box-sizing: border-box;
    display: block;
    color: #27474c;
}


body .nav-links:hover {
    text-decoration: none!important;
    color: #27474c;
}

body .nav-links.signup {
    color: white!important;
}

body .form-check-label {
    font-weight: bold;
}

body .nav-links.link{
    padding-right: .5rem;
    padding-left: .5rem;
    padding: .5rem 1rem;
    display: block;
    box-sizing: border-box;
}

body .collapse-toggle {
    background-color: transparent!important;
    border-color: transparent!important;
}

body .padd-top {
    padding-top: 5px;
}

body .float-right {
    float: right!important;
}

body .bttn-link {
    text-decoration: none!important;
    color: white;
}


body .bttn-link:hover {
    text-decoration: none!important;
    color: white;
}

body button.text-right {
    text-align: right!important;
    flex-direction: row-reverse;
}

body #home-page-background {
    background-image: url("./images/homeImg.jpg");
    padding: 150px;
    height: calc(100vh - 50px);
    background-position-y: -150px;
    background-color: #bdf9ef;
    background-size: cover;
    background-repeat: no-repeat;
}

body #home-page-background #home-page-jumbotron {
    /* background-color:rgba(0,0,0,0.1)!important; */
    background-color:transparent!important;
}

body #home-page-background #home-page-jumbotron #header-font {
    font-size: 75px;
}

body .gray-back {
    background-color: #dcdcdc;
}

body .row-thumbnails {
    flex: 1 0 100%;
    margin-top: calc(var(--bs-gutter-y)*-1);
    margin-right: calc(var(--bs-gutter-x)/-2);
    margin-left: calc(var(--bs-gutter-x)/-2);
}

body .homecards {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}
