body .bg-light {
    background-color: #bfd9ec!important;
}

body .signup-bttn{
    border-radius: 20px;
}

body .nav-links {
    text-decoration: none!important;
    box-sizing: border-box;
    display: block;
    color: #27474c;
}


body .nav-links:hover {
    text-decoration: none!important;
    color: #27474c;
}

body .nav-links.signup {
    color: white!important;
}

body .form-check-label {
    font-weight: bold;
}

body .nav-links.link{
    padding-right: .5rem;
    padding-left: .5rem;
    padding: .5rem 1rem;
    display: block;
    box-sizing: border-box;
}

body .collapse-toggle {
    background-color: transparent!important;
    border-color: transparent!important;
}

body .padd-top {
    padding-top: 5px;
}

body .padd-top.float-right {
    float: right;
}

body .bttn-link {
    text-decoration: none!important;
    color: white;
}


body .bttn-link:hover {
    text-decoration: none!important;
    color: white;
}

